/* cores: https://www.ranoya.com/books/public/css/corescss.php */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
:root {
  --preto-tv: #0a0a0a;
  --vermelho-sangue: #b91c1c;
  --cinza-claro: #e5e5e5;
  --verde-terminal-hacker: #22c55e;
}

body {
  margin: 0;
  background-color: var(--preto-tv);
  color: var(--cinza-claro);
  font-family: 'VT323', monospace;
  font-size: 1.2rem;
}